<div class="main-layout-header">
    <div class="menu-btn" id="hideBtn">
        <a href="javascript:;">
            <span class="iconfont">&#xe60e;</span>
        </a>
    </div>
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="javascript:;"><i class="iconfont">&#xe603;</i></a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">超级管理员</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">个人信息</a></dd>
                <dd><a href="javascript:;">修改密码</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:;">退出</a></li>
    </ul>
</div>