<!--侧边栏-->
<div class="main-layout-side">
    <div class="m-logo">
    </div>
    <ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
        <li class="layui-nav-item">
            <a href="javascript:;" data-url="{:url('category/index')}" data-id='1' data-text="分类管理"><i class="iconfont">&#xe607;</i>分类管理</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" data-url="{:url('category/index')}" data-id='2' data-text="城市管理"><i class="iconfont">&#xe607;</i>城市管理</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe607;</i>商家管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='3' data-text="商户列表"><span class="l-line"></span>商户列表</a></dd>
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='4' data-text="商家入驻申请"><span class="l-line"></span>商家入驻申请</a></dd>
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='5' data-text="删除的商户"><span class="l-line"></span>删除的商户</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe607;</i>团购商品管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='6' data-text="商家团购提交"><span class="l-line"></span>商家团购提交</a></dd>
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='7' data-text="团购列表"><span class="l-line"></span>团购列表</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe604;</i>推荐位管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='8' data-text="添加推荐位内容"><span class="l-line"></span>商家团购提交</a></dd>
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='9' data-text="推荐位列表"><span class="l-line"></span>团购列表</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe606;</i>会员管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='10' data-text="会员列表"><span class="l-line"></span>商家团购提交</a></dd>
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='11' data-text="删除的会员"><span class="l-line"></span>团购列表</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe608;</i>订单管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='12' data-text="订单列表"><span class="l-line"></span>商家团购提交</a></dd>
                <dd><a href="javascript:;" data-url="{:url('category/index')}" data-id='13' data-text="删除的订单"><span class="l-line"></span>团购列表</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe608;</i>内容管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;"><span class="l-line"></span>移动模块</a></dd>
                <dd><a href="javascript:;"><span class="l-line"></span>后台模版</a></dd>
                <dd><a href="javascript:;"><span class="l-line"></span>电商平台</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe60c;</i>友情链接</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;"><span class="l-line"></span>移动模块</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe60a;</i>Rbac管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;"><span class="l-line"></span>移动模块</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" data-url="email.html" data-id='3' data-text="邮件系统"><i class="iconfont">&#xe603;</i>邮件系统</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe60d;</i>生成静态</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe600;</i>数据库备份</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont">&#xe60b;</i>系统设置</a>
        </li>
    </ul>
</div>

 分类管理
生活服务分类
 城市管理
城市分类
 商家管理
商户列表
商家入驻申请
删除的商户
 团购商品管理
商家团购提交
团购列表
 推荐位管理
添加推荐位内容
推荐位列表
 会员管理
会员列表
删除的会员
 订单管理
订单列表
删除的订单